.pixel__button {
  position: relative;
  box-shadow: var(--pixel-box-shadow);
  font-family: "BoldPixels", system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.5px;
  image-rendering: pixelated;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  &:active {
    transform: translateY(3px);
  }
}

.pixel-default__button {
  background-color: white;
  color: black;
  &::after {
    border-right: 4px solid
      color-mix(in hsl, var(--default-inner-border-color) 70%, rgba(0, 0, 0));
    border-bottom: 4px solid
      color-mix(in hsl, var(--default-inner-border-color) 70%, rgba(0, 0, 0));
  }
  &:hover {
    background-color: var(--default-inner-border-color);
  }

  &:active {
    background-color: color-mix(
      in hsl,
      var(--default-inner-border-color) 70%,
      rgb(0, 0, 0)
    );
  }
}

.pixel-secondary__button {
  background-color: hsl(var(--secondary));
  color: hsl(var(--secondary-foreground));

  &::after {
    border-right: 4px solid
      color-mix(in hsl, hsl(var(--secondary)) 70%, rgb(0, 0, 0));
    border-bottom: 4px solid
      color-mix(in hsl, hsl(var(--secondary)) 70%, rgb(0, 0, 0));
  }

  &:hover {
    background-color: color-mix(
      in hsl,
      hsl(var(--secondary)) 90%,
      rgb(0, 0, 0)
    );
  }

  &:active {
    background-color: color-mix(
      in hsl,
      hsl(var(--secondary)) 70%,
      rgb(0, 0, 0)
    );
  }
}

.pixel-success__button {
  background-color: hsl(var(--success));
  color: hsl(var(--success-foreground));

  &::after {
    border-right: 4px solid
      color-mix(in hsl, hsl(var(--success)) 70%, rgb(0, 0, 0));
    border-bottom: 4px solid
      color-mix(in hsl, hsl(var(--success)) 70%, rgb(0, 0, 0));
  }

  &:hover {
    background-color: color-mix(in hsl, hsl(var(--success)) 90%, rgb(0, 0, 0));
  }

  &:active {
    background-color: color-mix(in hsl, hsl(var(--success)) 70%, rgb(0, 0, 0));
  }
}

.pixel-destructive__button {
  background-color: hsl(var(--destructive));
  color: hsl(var(--destructive-foreground));

  &::after {
    border-right: 4px solid
      color-mix(in hsl, hsl(var(--destructive)) 70%, rgb(77, 77, 77));
    border-bottom: 4px solid
      color-mix(in hsl, hsl(var(--destructive)) 70%, rgb(77, 77, 77));
  }

  &:hover {
    background-color: color-mix(
      in hsl,
      hsl(var(--destructive)) 90%,
      rgb(77, 77, 77)
    );
  }

  &:active {
    background-color: color-mix(
      in hsl,
      hsl(var(--destructive)) 70%,
      rgb(77, 77, 77)
    );
  }
}

.pixel-warning__button {
  background-color: hsl(var(--warning));
  color: hsl(var(--warning-foreground));

  &::after {
    border-right: 4px solid
      color-mix(in hsl, hsl(var(--warning)) 70%, rgb(32, 32, 32));
    border-bottom: 4px solid
      color-mix(in hsl, hsl(var(--warning)) 70%, rgb(32, 32, 32));
  }

  &:hover {
    background-color: color-mix(
      in hsl,
      hsl(var(--warning)) 90%,
      rgb(32, 32, 32)
    );
  }

  &:active {
    background-color: color-mix(
      in hsl,
      hsl(var(--warning)) 70%,
      rgb(32, 32, 32)
    );
  }
}

.pixel-link__button {
  box-shadow: none;
  color: hsl(var(--link));
  margin: 0;
  padding: 0;

  &:hover {
    background-color: transparent;
    color: color-mix(in hsl, hsl(var(--link)) 70%, rgb(0, 0, 0));
  }

  &:active {
    color: color-mix(in hsl, hsl(var(--link)) 90%, rgb(0, 0, 0));
  }

  &:visited {
    color: color-mix(in hsl, hsl(var(--link)) 70%, rgb(0, 0, 0));
  }
}

/* Increment/Decrement icon buttons (use assets under public/assets) */
.custom-ui-button-increment,
.custom-ui-button-decrement {
  image-rendering: pixelated;
  color: initial; /* no inherited text color (defensive) */
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center;
  background-size: 100% 100%;
  border: none;
  outline: none;
  overflow: visible;
  box-shadow: none; /* override pixel__button box-shadow */

  /* ensure no inherited transforms or translations */
  transform: none;

  /* icon-like sizing */
  display: inline-block;
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  padding: 0;
}

/* increment states */
.custom-ui-button-increment {
  background-image: url("/assets/increment-normal.png");
}
.custom-ui-button-increment.hover,
.custom-ui-button-increment:hover {
  background-image: url("/assets/increment-hovered.png");
}
.custom-ui-button-increment.down,
.custom-ui-button-increment:active {
  background-image: url("/assets/increment-clicked.png");
  transform: none; /* override pixel__button active translate */
}

/* decrement states */
.custom-ui-button-decrement {
  background-image: url("/assets/decrement-normal.png");
}
.custom-ui-button-decrement.hover,
.custom-ui-button-decrement:hover {
  background-image: url("/assets/decrement-hovered.png");
}
.custom-ui-button-decrement.down,
.custom-ui-button-decrement:active {
  background-image: url("/assets/decrement-clicked.png");
  transform: none; /* override pixel__button active translate */
}

/* disabled icon buttons: grayscale and fixed to normal image */
.custom-ui-button-increment:disabled,
.custom-ui-button-decrement:disabled {
  filter: grayscale(100%);
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}
.custom-ui-button-increment:disabled:hover,
.custom-ui-button-increment:disabled:active {
  background-image: url("/assets/increment-normal.png");
}
.custom-ui-button-decrement:disabled:hover,
.custom-ui-button-decrement:disabled:active {
  background-image: url("/assets/decrement-normal.png");
}
