/* Custom UI Container Styles */
.custom-ui-container {
  /* Reset default styling */
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  position: relative;
  image-rendering: pixelated;
  /* Default text color inside containers */
  color: #ffffff;
  
  /* Container sizing */
  box-sizing: border-box;
  
  /* Border image for the frame */
  border: 16px solid transparent;
  border-image: url("/assets/container/border-image.png") 16 round;
  
  /* Background image for the content area */
  background: url("/assets/container/background-image.png") repeat;
  
  /* Padding for content */
  /* padding: 16px; */
}

/* Golden variant */
.custom-ui-container.golden {
  border-image: url("/assets/container/border-image-golden.png") 16 round;
  background: url("/assets/container/background-image-golden.png") repeat;
}

/* Golden2 variant */
.custom-ui-container.golden2 {
  border-image: url("/assets/container/border-image-golden2.png") 16 round;
  background: url("/assets/container/background-image-golden2.png") repeat;
}

/* Grey variant */
.custom-ui-container.grey {
  border-image: url("/assets/container/border-image-grey.png") 16 round;
  background: url("/assets/container/background-image-grey.png") repeat;
}

/* Container content area */
.custom-ui-container-content {
  width: fit-content;
  display: block;
  box-sizing: border-box;
}

/* Container disabled state */
.custom-ui-container:disabled {
  filter: grayscale(100%);
  opacity: 0.6;
  pointer-events: none;
}

/* Container sizes */
.custom-ui-container.small {
  border-width: 12px;
  border-image: url("/assets/container/border-image.png") 12 round;
  /* padding: 12px; */
}

.custom-ui-container.small.golden {
  border-image: url("/assets/container/border-image-golden.png") 12 round;
}

.custom-ui-container.small.golden2 {
  border-image: url("/assets/container/border-image-golden2.png") 12 round;
}

.custom-ui-container.small.grey {
  border-image: url("/assets/container/border-image-grey.png") 12 round;
}

.custom-ui-container.large {
  border-width: 20px;
  border-image: url("/assets/container/border-image.png") 20 round;
  /* padding: 20px; */
}

.custom-ui-container.large.golden {
  border-image: url("/assets/container/border-image-golden.png") 20 round;
}

.custom-ui-container.large.golden2 {
  border-image: url("/assets/container/border-image-golden2.png") 20 round;
}

.custom-ui-container.large.grey {
  border-image: url("/assets/container/border-image-grey.png") 20 round;
}

/* Container with fixed dimensions */
.custom-ui-container.fixed-width {
  width: 400px;
}

.custom-ui-container.fixed-height {
  min-height: 300px;
  height: 300px;
}

/* Container with scrollable content */
.custom-ui-container.scrollable {
  max-height: 400px;
  overflow-y: auto;
}

.custom-ui-container.scrollable::-webkit-scrollbar {
  width: 18px;
}

.custom-ui-container.scrollable::-webkit-scrollbar-track {
  background-image: url('/assets/scrollbar-track.png');
  background-size: 18px 60px;
  background-repeat: repeat-y;
}

.custom-ui-container.scrollable::-webkit-scrollbar-thumb {
  background-image: url('/assets/scrollbar-thumb.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.custom-ui-container.scrollable::-webkit-scrollbar-button {
  background-image: url('/assets/scrollbar-button.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
