/* Custom Input 1 (background-based using assets) */
.custom-input-1 {
  box-sizing: border-box;
  background-color: transparent;
  color: white;
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  image-rendering: pixelated;
  outline: none;
  background-image: url("/assets/custom-input-field.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  min-height: 32px;
}
.custom-input-1:hover,
.custom-input-1:focus,
.custom-input-1[readonly] {
  outline: none;
  background-image: url("/assets/custom-input-field.png");
}
.custom-input-1:focus{
  background-image: url("/assets/custom-input-field-focus.png");
}
.custom-input-1:disabled {
  filter: grayscale(100%);
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}
.custom-input-1[aria-invalid="true"],
.custom-input-1:invalid {
  background-image: url("/assets/custom-input-field-error.png");
}
