# Dependencies
node_modules/

# Builds
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor/OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# Env
.env
.env.*.local

# Vite
*.local

# pnpm store (optional local cache)
.pnpm-store/

# TypeScript incremental build info
tsconfig.tsbuildinfo
*.tsbuildinfo
